#top {
	background-color: black;
	width: 100%;
	height: 200px;
		float: left;
}

#left {
	display: inline-block;
	background-color: yellow;
	width: 25%;
	height: 400px;
	float: left;
}

#center {
	display:inline-block;
	background-color: purple;
	width: 50%;
	height: 400px;
	float: left;
}

#right {
	display: inline-block;
	background-color: yellow;
	width: 25%;
	height: 400px;
	float: left;
}

#bottom {
	background-color: black;
	width: 100%;
	height: 200px;
	float: left;
}

#blocks {
	width: 720px;
	margin:50px auto;
}
